<div style="display:flex; flex-direction: row; margin-left:2rem; gap:8rem">
    <img src="../../../assets/profile pic.jpg" height="620px">
    <div style="display: flex; flex-direction: column;">
        <h3>Chetanya Mathur</h3>
    <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><i>Mean Stack Developer</i></h6>
    <h5 style="margin-top: 1rem; background-color:rgb(90, 159, 161);padding-left:1rem;border-radius:12px;">Work-Experience</h5>
    <h6 style="margin-left:1.5rem ; margin-top:1rem;">Hero Motors</h6>
    <p style="font-size:0.8rem; margin-left:1.5rem"><i>June-2021 to July-2022</i></p>
    <ul>
        <li class="list-item">Operated and maintained complex machinery and equipment, ensuring optimal performance and minimal downtime.</li>
        <li class="list-item">Implemented and monitored quality control measures, ensuring products met industry standards and customer specifications.</li>
        <li class="list-item">Collaborated with cross-functional teams to troubleshoot and resolve equipment malfunctions, minimizing production delays.</li>
        <li class="list-item">Conducted regular inspection and preventive maintenance tasks, identifying and addressing potential equipment issues to prevent breakdowns.</li>
    </ul>
    <h5 style="margin-top: 1rem; background-color:rgb(90, 159, 161);padding-left:1rem;border-radius:12px;">Education</h5>
    <h6 style="margin-left:1.5rem ; margin-top:1rem;">Indian Institute of Technology , Madras</h6>
    <p style="font-size:0.8rem; margin-left:1.5rem"><i>Sep-2023</i></p>
    <p style="font-size:0.8rem; margin-left:1.5rem;background-color: rgba(90, 159, 161, 0.825);width:14rem;border-radius: 11px;"> - Pursuing BS in Data Science</p>
    <h6 style="margin-left:1.5rem ; margin-top:1.5rem;">Dayalbagh Educational Institute, Agra</h6>
    <p style="font-size:0.8rem; margin-left:1.5rem"><i>2018 to 2021</i></p>
    <p style="font-size:0.8rem; margin-left:1.5rem; background-color: rgba(90, 159, 161, 0.808);width:14rem;border-radius: 11px;"> - Diploma in Automobile Engineering</p>
    <ul>
        <li class="list-item">Collaborated with a multidisciplinary team to design and fabricate a prototype electric vehicle, effectively integrating cutting-edge technologies and ensuring compliance with safety and environment regulations</li>
        <li class="list-item">Led a group of students in successfully organizing and executing a mechanical exhibition.</li>
    </ul>
    </div>
    
</div>
