<div id="grad" style="display:flex; flex-direction: row; margin-left:2rem; gap:8rem">
    <img src="../../../assets/profile pic.jpg" height="620px" style="border-radius: 11px; margin-left: 4rem;">
    <div style="display: flex; flex-direction: column;">
        <h3 style="color: aliceblue; margin-top: 1rem;">Chetanya Mathur</h3>
    <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: beige; font-weight: 500;"><i>Mean Stack Developer</i></h6>
    <h5 style="margin-top: 1rem;padding-left:1rem;border-radius:12px;color:aliceblue">Work-Experience</h5>
    <h6 style="margin-left:1.5rem ; margin-top:1rem;color: rgba(15, 14, 14, 0.926);">Hero Motors</h6>
    <p style="font-size:0.8rem; margin-left:1.5rem; background-color: antiquewhite;width: fit-content;padding: 5px; border-radius: 11px; font-weight: 500;"><i>June-2021 to July-2022</i></p>
    <ul>
        <li class="list-item">Operated and maintained complex machinery and equipment, ensuring optimal performance and minimal downtime.</li>
        <li class="list-item">Implemented and monitored quality control measures, ensuring products met industry standards and customer specifications.</li>
        <li class="list-item">Collaborated with cross-functional teams to troubleshoot and resolve equipment malfunctions, minimizing production delays.</li>
        <li class="list-item">Conducted regular inspection and preventive maintenance tasks, identifying and addressing potential equipment issues to prevent breakdowns.</li>
    </ul>
    <h5 style="margin-top: 1rem;padding-left:1rem;border-radius:12px;color:rgb(244, 238, 238)">Education</h5>
    <div>
        <h6 style="margin-left:1.5rem ; margin-top:1rem; color: rgba(15, 14, 14, 0.933);">Indian Institute of Technology , Madras</h6>
        <p style="font-size:0.8rem; margin-left:1.5rem ;background-color: antiquewhite;width: fit-content;padding: 5px; border-radius: 11px; font-weight: 500;"><i>Sep-2023</i></p>
        <p style=" font-size:0.9rem; margin-left:1.5rem;width:16rem;border-radius: 11px;float:right;color: antiquewhite;">Pursuing B.Sc in Data Science</p>
    </div>
    <div>
        <h6 style="margin-left:1.5rem ; margin-top:1.5rem; color: rgba(15, 14, 14, 0.937);">Dayalbagh Educational Institute, Agra</h6>
        <p style="font-size:0.8rem; margin-left:1.5rem; background-color: antiquewhite;width: fit-content;padding: 5px; border-radius: 11px; font-weight: 500;"><i>2018 to 2021</i></p>
        <p style="font-size:0.9rem; margin-left:1.5rem;width:16rem;border-radius: 11px; float:right; color: antiquewhite;">Diploma in Automobile Engineering</p>
    </div>
    <ul>
        <li class="list-item">Collaborated with a multidisciplinary team to design and fabricate a prototype electric vehicle, effectively integrating cutting-edge technologies and ensuring compliance with safety and environment regulations</li>
        <li class="list-item">Led a group of students in successfully organizing and executing a mechanical exhibition.</li>
    </ul>
    </div>
    
</div>
