<div class="banner">
    <ul class="inline-flex">
    <li>
        <a class="detail-item">Call Now - 0124-0990-9888321</a>
    </li>
    </ul>
    <ul class="flex-detials float-right">
        <li>
            <a class="detail-item">Support</a>
        </li>
        <li>
            <a class="detail-item">Store Locator</a>
        </li>
        <li>
            <a class="detail-item">Free shipping</a>
        </li>
        </ul>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">E -commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="right-side" class="collapse navbar-collapse">
        <ul class="navbar-nav flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
  </nav>
