#right-side {
    float : right;
    margin-right: 15rem;
}
* {
    box-sizing: border-box;
}
.banner {
    margin: 0;
    padding-top: 0.8rem;
    background-color:rgb(229, 229, 229);
}

.navbar-brand {
    margin-left: 15rem;
}
.flex {
    display: inline-flex;
    flex-direction: row;
     gap : 2rem ;
    align-items:center;
}
.float-right {
    float:  right;
}
.flex-detials{
    display: flex;
}
.detail-item {
    text-decoration:none;
    color: rgb(60, 60, 59);
    font-size: 0.9rem;
}
.flex-detials {
    list-style: none;
    gap : 2rem;
    margin-right: 2.5rem;
    text-decoration:none;
}
.inline-flex {
    display: inline-flex;
    list-style: none;
    margin-right: 0.5rem;
}

.button {

 color: #000000A6;
 padding: 0.7em 1.7em;
 font-size: 1rem;
 border-radius: 1.5rem;
 background: #e8e8e8;
 border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button:active {
 color: #666;
 box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}
