#right-side {
    float : right;
    margin-right: 15rem;
}
* {
    box-sizing: border-box;
}
.banner {
    margin: 0;
    padding-top: 0.8rem;
    background-color:rgb(229, 229, 229);
}

.navbar-brand {
    margin-left: 15rem;
}
.flex {
    display: inline-flex;
    flex-direction: row-reverse;
     gap : 2rem ;
    align-items:center;
}
.float-right {
    float:  right;
}
.flex-detials{
    display: flex;
}
.detail-item {
    text-decoration:none;
    color: rgb(60, 60, 59);
    font-size: 0.9rem;
}
.flex-detials {
    list-style: none;
    gap : 2rem;
    margin-right: 2.5rem;
    text-decoration:none;
}
.inline-flex {
    display: inline-flex;
    list-style: none;
    margin-right: 0.5rem;
}